html,
body {
  /* to remove the default margin around the page */
  margin: 0 0;
  padding: 0 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* to make sure the body takes the full height of the viewport and avoid unwanted scrolling */
  overflow: hidden;
  touch-action: none;
}

.time_status {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}
