.day_background {
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc63c;
}

.sun {
  background: radial-gradient(circle, #ffeb3b 0%, #fba62d 40%, #ec0936 100%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50px;
  left: 50px;
}

.teddy_eating {
  background-image: url('/assets/teddy_eat.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: relative;
  top: 100px;
}
