.night_background {
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #686868;
}

.moon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #f0e68c, #b0c4de);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50px;
  left: 50px;
}
