.night_background {
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b696b;
}

.moon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #f0e68c, #b0c4de);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50px;
  left: 50px;
}

.teddy_sleeping {
  background-image: url('/assets/teddy_sleep.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: relative;
  top: 100px;
}
